<div class="page_content_container">
  <div class="first_row">
    <div class="image_container_0">
      <%= image_tag("logo-black-trans.jpg", id: "logo", class: "container_photo") %>
      <div class="menue">
        <ol style="list-style-type: none; padding: 0; font-family: poppins black; letter-spacing: 1px; font-weight: normal; text-rendering: optimizeLegibility;">
          <li><a href="#">about us</a></li>
          <li><a href="#">references&gallery</a></li>
          <li><a href="#">contact</a></li>
          <li><a href="#">login</a></li>
          <li><a href="www.google.de">google</a></li>
        </ol>
      </div>

    </div>
    <div class="image_container_1">
      <%= image_tag("drehsessel", class: "container_photo") %>
    </div>
  </div>
  <div class="second_row">
    <div class="image_container_2">
      <%= image_tag("fassade", class: "container_photo") %>
    </div>
    <div class="image_container_3">
      <%= image_tag("treppenhaus", class: "container_photo") %>
    </div>
  </div>
</div>
