.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_image {
  max-width: 100%;
  height: auto;
}
